<div id="canvas" (click)="SelectorType()" width="1400px" height="774px">
</div>
<div id="control">
    <div class="container">
        <div class="control-box">
            <div class="control-header">Toolkit</div>
            <div id="tools" class="control-inner">
                <div class="tool selected" id="play">
                    <fa-icon [icon]="faPlay"></fa-icon>
                    <h2>Play</h2>
                </div>
                <div class="tool selected" id="machine" (click)="buildMachine()">
                    <fa-icon [icon]="faCogs"></fa-icon>
                    <h2>Machine</h2>
                </div>
                <div class="tool" id="connect" (click)="connect()">
                    <fa-icon [icon]="faLink"></fa-icon>
                    <h2>Connect</h2>
                </div>
            </div>
        </div>
    </div>
</div>
