<div id="canvas" (click)="SelectorType()" width="1400px" height="774px">
</div>
<div id="control">
  <div class="container">
    <div class="control-box">
      <div class="control-header">Toolkit</div>
      <div id="tools" class="control-inner">
        <div class="tool selected" id="play" (click)="calc()">
          <fa-icon [icon]="faPlay"></fa-icon>
          <h2>Play</h2>
        </div>
        <div class="tool selected" id="machine" (click)="buildMachine()">
          <fa-icon [icon]="faCogs"></fa-icon>
          <h2>Machine</h2>
        </div>
        <div class="tool" id="connect" (click)="connect()">
          <fa-icon [icon]="faLink"></fa-icon>
          <h2>Connect</h2>
        </div>
        <div class="tool" id="delete" (click)="delete()">
          <fa-icon [icon]="faTrash"></fa-icon>
          <h2>Delete</h2>
        </div>
      </div>
    </div>
    <div class="control-box settings">
      <div class="control-header">Settings</div>
      <div class="settings">
        <div class="control-inner2">
          <div class="control-header" style="margin-top:10px!important">Gain</div>
          <input id="color" type="text" value="#ff0000" [(ngModel)]="input"
                 (keydown.enter)="updateGain('enter')"/>
        </div>
      </div>
    </div>
    <div class="control-box result">
      <div class="control-header">Result</div>
      <div class="result">
        <div class="control-inner3">
          <div class="control-header" style="margin-top:10px!important">{{result}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
